/* styles.css */
table {
    border-collapse: collapse;
    margin-bottom: 20px;
}

td, th {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

#prumer {
    font-size: 18px;
    font-weight: bold;
}

/* Přidáme třídu pro modré pozadí */
.selected {
    background-color: blue;
    color: white; /* Pro lepší čitelnost textu na modrém pozadí */
}
